@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* font-family: 'PT Serif', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #000;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:nth-of-type(1) {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

header div:nth-of-type(2) h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

header div:nth-of-type(2) p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.body {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.body .sub-body {
    height: 470px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.body .main-body {
    position: relative;
}

.body .main-body img {
    width: 238px;
    height: 360px;
}

.body .main-body .name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 10px 0 0 0;
}

.body .main-body .position {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transform: rotate(90deg) translate(-290px,-140px);
}

.body .sub-body:nth-of-type(2) , .body .sub-body:nth-of-type(5) {
    justify-content: flex-end;
}

.credits {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #a9a9a9;
}

.credits p , .credits a {
    display: inline-block;
}

.credits p {
    font-weight: 700;
}

.credits a {
    text-decoration: none;
    color: inherit;
}